.butt{
    background-color: #0ec0a6;
    border: none;
    color: black;
    font-size: 20px;
    padding: 7px 25px;
    border-radius: 25px;
    margin: 0 20px;
}

.butt:hover{
    background-color: #00d6b6;
}

.butt:focus{
    border: none;
}